<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ngx-qrcode qrc-element-type="url" [qrc-value]="createdCode" ></ngx-qrcode>
  </ion-card>


  <ion-item>
    <ion-input type="text" placeholder="Text For QR" [(ngModel)]="vehicleNumber">
    </ion-input>
  </ion-item>
  <ion-footer>
    <ion-button color="primary" expand="block" (click)="createCode()"><ion-icon name="barcode"></ion-icon> Update Vehicle Number</ion-button>
  </ion-footer>

</ion-content>
